<!-- home.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Welcome to My App</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed dapibus arcu at ante placerat, at facilisis magna laoreet. Phasellus dignissim erat sed tellus eleifend, a tincidunt orci pharetra. Donec semper erat ac malesuada volutpat.</p>
      <p>Nunc sagittis, lorem sit amet sagittis commodo, enim urna tempor ligula, in tincidunt risus massa eget urna. Maecenas a ligula in quam fringilla auctor ac vitae arcu. Sed finibus est eget dui iaculis, eu ultricies nulla pharetra. Donec volutpat luctus nunc vitae dictum. Ut efficitur magna vitae odio luctus eleifend. Nullam sed est volutpat, rhoncus risus id, efficitur nunc. Vivamus a dui sit amet tortor malesuada congue. Sed at fermentum purus. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae;</p>
    </div>
  </div>
{% endblock %}
