<!-- post.html -->
{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2>{{ post.title }}</h2>
      <p>{{ post.content }}</p>
      <p>Autor: {{ post.author.email }}</p>
      <p>Utworzono: {{ post.created_at }}</p>
      <hr>
      <h3>Komentarze</h3>
      {% for comment in post.comments %}
        <p>{{ comment.content }}</p>
        <p>Autor: {{ comment.author.email }}</p>
        <p>Dodano: {{ comment.timestamp }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
{% endblock %}
