
{% extends 'base.html' %}

{% block content %}
  <div class="row justify-content-center">
    <div class="col-md-6">
      <h2 class="mb-4">Reset hasła</h2>
      {% with messages = get_flashed_messages(category_filter=["danger"]) %}
        {% if messages %}
          <div class="alert alert-danger" role="alert">
            {% for message in messages %}
              {{ message }}
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}
      <form method="POST" action="{{ url_for('reset_password') }}">
        {{ form.csrf_token }}
        <div class="mb-3">
          <label for="{{ form.email.id }}" class="form-label">{{ form.email.label }}</label>
          <input type="{{ form.email.type }}" id="{{ form.email.id }}" name="{{ form.email.name }}" class="form-control" value="{{ form.email.data }}">
        </div>
        <button type="submit" class="btn btn-primary">Reset hasła</button>
      </form>
    </div>
  </div>
{% endblock %}
